[Unit]
Description=node exporter
After=network.target syslog.target

[Service]
WorkingDirectory=/opt/node_exporter
Type=simple
ExecStart=/opt/node_exporter/node_exporter --collector.textfile.directory=/opt/node_exporter/stats --log.level=error
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node_exporter

[Install]
WantedBy=multi-user.target